<h1 class="m-4">Listado de Cursos</h1>
<ng-container *ngIf="sesion$ | async as sesion">
<div class="row">
    
    <div>
        <mat-form-field class="col-md-6 m-4">
            <mat-label>Filtrar por Curso</mat-label>
            <input type="text" matInput [(ngModel)]="filtro" (keyup)="filtroCurso()" >
        </mat-form-field>
    </div>

<div *ngFor="let curso of cursos$ | async" class="col-md-3 m-4">
    <div>
        <mat-card >
            <mat-card-header>
                <mat-card-title>{{ curso.nombre }}</mat-card-title>
                <mat-card-subtitle>{{ curso.comision }}</mat-card-subtitle>   
            </mat-card-header>

            <img mat-card-image [src]="curso.imagen" alt="Imagen">

            <mat-card-content>
                <p>Profesor: {{ curso.profesor }}</p>
                <p>Inicia el: {{ curso.fechaInicio | date: 'dd/MM/YYYY' }}</p>
                <p>Finaliza el: {{ curso.fechaFin | date: 'dd/MM/YYYY' }}</p>
                <p [appBooleanStyle]="curso.inscripcionAbierta"> {{ curso.inscripcionAbierta | booleanToText: 'Inscripción Abierta' : 'Inscripción Cerrada'}}</p>
            </mat-card-content>
            
            <mat-card-actions align="end">
                <button mat-icon-button color="disabled" [routerLink]="'/cursos/'+curso.id">
                    <mat-icon>visibility</mat-icon>
                </button>
                <button mat-icon-button color="primary" (click)="editarCurso(curso)" *ngIf="sesion.usuarioActivo?.admin">
                    <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button color="warn" (click)="eliminarCurso(curso.id)" *ngIf="sesion.usuarioActivo?.admin">
                    <mat-icon>delete</mat-icon>
                </button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>
</div>
</ng-container>